*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}

body{
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
} 
.box{
  height: 30vh;
  width: 40%;
  background-color: #3B3B3F;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20vh;
  align-items: center;
}
.upper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7vh;
  width: 75vh;
  background-color: beige;
  top: 15%;
  border-radius: 20px;
}

.lower{
  display: flex;
  flex-direction: row;
  gap: 20vh;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10%;
}
.right{
  display: flex;
  flex-direction: row;
  gap: 9vh;
  height: 5vh;
  width: 20vh;
  border-radius: 25px;
  background-color: #F0F0F0;
  position: relative;
  align-items: center;
  justify-content: center;
  opacity: 8;
}
.left{
  display: flex;
  flex-direction: row;
  gap: 9vh;
  height: 10%;
  width: fit-content;
}
#search{
  width: 99.5%;
  height: 95%;
  border-radius: 25px;
  background-color: white;
}
.left:hover{
  cursor: pointer;
}
.right:hover{
  cursor: pointer;
}
button{
  height: 95%;
  width: 98%;
  font-size: 4vh;
  font-weight: 400;
  border-radius: 25px;
  background-color:red;
  pointer-events: fill;
  z-index: 5;
}
button:active{
  scale: 0.9;
}
.left:active{
  scale: 0.999;
}
h1{
  position: absolute;
  color: black;
  left: 2%;
}
