*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background: linear-gradient(rgb(30, 37, 30));
}
main{
  height: 100%;
  width: 100%;
}
section{
  height: 100%;
  width: 60vh;
  background-color: red;
  margin: auto;
  border-radius: 10px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: auto;
}
section::-webkit-scrollbar{
  display: none;
}
.reels{
  height: 100vh;
  width: 100%;
  background-color: rgb(30, 37, 30);
  position: relative;
  top: 0;
  overflow: hidden;
  border-radius: 10px;
  /* padding-top: 10vh; */
  /* margin: 5vh 0; */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reels .bottom{
  height: 100%;
  width: 100%;
  background: linear-gradient(black, black);
  color: white;
  object-fit: cover;
  top: 0%;
  position: absolute;
}
.user{
  height: 100%;
  position: absolute;
  width: 100%;
}
.bottom .user .img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.bottom .user .lower{
  display: flex;
  width: 30%;
  flex-direction: row;
  height: 10%;
  bottom: 5%;
  left: 5%;
  z-index: 1;
  justify-content: space-between;
  position: absolute;
}
.bottom .user .lower button{
  height: 40%;
  padding: 0vh 3vh;
  margin: 0 2vh;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  border: 1px skyblue solid;
  cursor: pointer;
}
.bottom .user .lower h4{
  padding: -3vh 3vh;
  font-size: 3vh;
  cursor: pointer;
}
.bottom .user h1{
  font-size: 3vh;
  position: absolute;
  bottom: 3%;
  left: 5%;
  z-index: 2;
  
}
.bottom .user .lower img{
  height: 4vh;
  width: 8vh;
  object-fit: cover;
  margin-top: 1vh;
  padding: 0  1vh;
  margin: 0vh 1vh;
  border-radius: 1000%;
  cursor: pointer;
}
.reels .bar{
  display: flex;
  flex-direction: column;
  right: 5%;
  position: absolute;
  height: 100%;
  z-index: 1;
  top: 45%;
  gap: 2vh;
  transform: translateX('100%');
}
.reels .bar h3{
  display: flex;
  flex-direction: column;
  right: 10%;
  top: 20%;
  text-align: center;
  color: aliceblue;
}
.like{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.dislike{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.comment{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.share{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.music{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  object-fit: cover; 
  
}