:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.upperNav{
  height: 60vh;
  width: 180vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  right: 15vh;
  bottom: 15%;
}
.upperNavUT button{
  height: fit-content;
  width: fit-content;
  background-color: transparent;  
  color: black;
}
.upperNavUT{
  position: relative;
  right: 37.5%;
  border-radius: 5px;
  top: 10%;
}
.upperNavLT{
  text-align: left;
  font-size: 4.5vh;
  font-family:sans-serif;
  padding:  0 15vh;
  color: #111111;
}
.midNav{
  height: 80vh;
  width: 150vh;
  display: flex;
  flex-direction: column;
  background-color: #F3F5F7;
  gap: 1vh;
}
.Nav{
  height: 400vh;
  width: 100%;
  display: flex;
  background-color: #F3F5F7;
  align-items: center;
  flex-direction: column;
}
.mid-uppernav{
  height: 4vh;
  flex-direction: row;
  display: flex;
  color: #111111;
  justify-content: space-between;
  position: relative;
  margin-top: 1vh;
  padding: 1vh;  
  text-transform: capitalize;

}
.rightDs{
  font-size: 3vh;
  font-family: sans-serif;
}
.midDs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2vh;
  text-align: center;
  gap: 8vh;
  align-items: center;
}
.leftDs button{
  font-size: 2vh;
  height: fit-content;
  padding: 1vh 2vh;
  width: fit-content;
  background-color: transparent; 
  border-radius: 5px;
  color: black;
  text-transform: capitalize;

}
.leftDs{
  border-radius: 40%;
}
.PictureFD{
  background-image: url("src/assets/Sample.jpg");
  height: 70vh;
  width: 95%;
  background-size: cover;
  background-position: center;  
  left: 3.333vh;
  position: relative;
  border-radius: 15px;
}
.mainPF{
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 3vh;
  top: 20vh;
  position: relative;
  text-transform: capitalize;
  width: 70vh;
  left: 25%;
  gap: 1vh;
  
}
.upperPicNav{
  top: 5vh;
  height: 200vh;
  gap: 1vh;
}
.Fd-upper1{
  font-size: 4vh;
}
.Fd-upper2{
  font-size: 4vh;
}
.Fd-mid{
  font-size: 2vh;
}
.mainPF button{
  height: 5vh;
  width: 25vh;
  font-size: 2vh;
  position: relative;
  left: 22vh;
  border-radius: 15px;
}