*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#display{
  height:50vh;
  width: 150vh;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
body{
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
#hero{
  color: red;
  font-size: 15vh;
  height: fit-content;
  width: fit-content;
  background-color: white;
  background: linear-gradient(to right, red 28%, green ,blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 5px;
}
.blue{
  background-color: blue;
  font-size: 5vh;
  height: 15vh;
  width: 25vh;
  border-radius: 15px;
  cursor: pointer;
}
.green{
  background-color:  green;
  font-size: 5vh;
  height: 15vh;
  width: 25vh;
  border-radius: 15px;
  cursor: pointer;
}
.red{
  background-color: red;
  font-size: 5vh;
  height: 15vh;
  width: 25vh;
  border-radius: 15px;
  cursor: pointer;
}
button:active{
  scale: 0.9;
}