*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
}
#mainimg{
    width: 100%;
    height: 100%;
    opacity: 99%;
    position: absolute;
    z-index: -4;
}
button{
    color: black;
    background-color: #27E0B3;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 4%;
    right: 2%;
    border-radius: 5% ;
    font-size: xx-large;
}
#upper #nav{
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row;
    top: 3%;
    text-decoration: none;
    box-shadow: black;
    right: 20%;
    z-index: 3;

}
#upperimg{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 1%;
    left: 3%;
}