*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#mode{
    height: 100%;
    width: 100%;
    background-color: navajowhite;
    display: flex;
    flex: 100%;/*default in main axis (x-axis)*/
    align-items: center;
    justify-content: center; /*it control content in main axis (x-axis)*/
    flex-direction: row-reverse;/*it control content in cross axis (y-axis)*/
    gap: 20px;
    flex-wrap: nowrap;
    
    overflow: auto;/*its use for scrolling purpose if div getting over flow if we use flex shrink to everyone then we use this to take a look without breaking the width limit*/
}
#box1{
    height: 200px;
    width: 200px;
    background-color: red;
    /* flex-shrink: 0; *//*use for not get any effect of over crouding*/
    /* left: 50%;
    position: absolute;
    bottom: 50%; 
    transform: translate(-50%,50%);  its use for travel wrt height  and width of the div in x-axis and y-axis 
    /* clip-path: polygon(25% 0%, 100% 0, 88% 52%, 75% 100%, 0 100%, 11% 52%);  //its use for make different types of shapes (use browser)*/
    border: 5px solid white;
    box-shadow: 20px 20px 20px rgb(31, 26, 26);
    flex-shrink: 0;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: white;
    border: 2px;
    /* position: absolute;
    left:14%;
    z-index: 21; */
    border: 5px solid white;
    flex-shrink: 0;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: rgb(4, 0, 255);
    /* position: absolute;
    border: 2;
    z-index: 0; */
    border: 5px solid snow;
    flex-shrink: 0;
}
#parant{
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}
#mode img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}
button{
    height: 50px;
    width: 130px;
    background-color: red;
    position: absolute;
    bottom: 24%;
    left: 31.5%;
    color: black;
    border: 2px solid black;
    box-shadow: 0px 5px 60px blue;
    font-size: 30px;
    font-display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    border-radius: 10%;
    cursor: pointer; /* its use to make cursor in different form*/
}
.para{
    text-align: center;
    text-decoration: solid;
    font-size: 100px;
    position: absolute;
    top: 21%;
    left: 20%;
    text-transform: uppercase;

}
button:hover{ /*hover is use for creating colour change when cursor situated on top on hover used item*/
    background-color: blue;
    box-shadow: 0px 5px 60px red;
}