*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background: linear-gradient(to left ,blue 35%, red );
}
button{
  color: line;
  border-radius: 15px;
  cursor: pointer;

}
#text:hover{
  cursor: wait;
  background: linear-gradient(to right, #1600E9, #5F009F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}
#inc{
  height: 5vh;
  width: 10%;
  position: relative;
  font-size: 25px;
  top: 20%;
  background-color: blue;
  color: white;
  left: 20%;
}
#decrese{
  height: 5vh;
  width: 10%;
  position: relative;
  font-size: 25px;
  top: 20%;
  background-color: red;
  color: black;
  left: 60%;
}
#text{
  font-size: 200px;
  position: relative;
  height: fit-content;
  width: fit-content;
  text-align: center;
  z-index: -5px;
  left: 40%;
  cursor: crosshair;
  background: linear-gradient(to right, #5F009F, #1600E9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
#home{
  height: 5vh;
  width: 10%;
  position: absolute;
  font-size: 25px;
  background-color:  white;
  color: white;
  top: 0%;
   background: conic-gradient(to right, #5F009F, #1600E9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#yt{
  height: 5vh;
  width: 20%;
  position: relative;
  font-size: 25px;
  top: 20%;
  background-color: red;
  color: white;
  left: 40%;
   background: conic-gradient(to right, #5F009F, #1600E9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
