*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#main{
  background-color: rgb(216, 40, 40);
  height: 350px;
  width: 600px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20%;
  border-radius: 15px;
}
#upper{
  width: 550px;
  height: 20px;
  background-color: blue;
  border-radius: 15px;
  /* margin-top: 10% */
}
/* 
#inner{
  width: 550px;
  position: absolute;
  height: 20px;
  left: 35.70%;
  top: 39.3%;
  padding: 10px 20px;
  background-color: green;
  border-radius: 15px;
  z-index: 1;
  top: 5%; 
  justify-content: center;
  align-items: center; 
}
 */
#inner{
  height: 20px;
  width: 50%;
  background-color: rgb(0, 85, 255);
  border-radius: 15px;
}
button{
  height: fit-content;
  width: fit-content;
  padding: 15px 25px;
  font-size: 5vh;
  border-radius: 10px;
  font-family:cursive;
  right: 40%;
  margin-left: 20%;
  background-color: red;
}
button:active{
  scale: 0.9;
}
button:hover{
  cursor: pointer;
}
h1{
  position: absolute;
  left: 23%;
  bottom: 32%;
  height: fit-content;
  width: fit-content;
  font-size: 7vh;
  margin-bottom: 3%;
}
span{
  font-weight: 800;
  color: blue;

}
p{
  color: white;
  font-size: 3vh;
}