*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
/* #car1{
    height: 100px;
    width: 150px;
    color: aqua;
    background-color: aquamarine;
    
} */
#car2{
 height: 1000px;
    width: 170px;
    color: aqua;
    background-color: rgb(105, 100, 172);
    
}
#car3{
 height: 2500px;
    width: 190px;
    color: aqua;
    background: linear-gradient(red, blue,green,yellow,black);
    position: relative;
} 
#car4{
 height: 50px;
    width: 50px;
    color: aqua;
    background-color: green;
    position: fixed;
    left: 6%;
    top: 12%;
    border-radius: 50%;

}