*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@property --bgColor{
  syntax: '<color>';
  inherits: false;
  initial-value: blue;
} 
.box{
  height: 400px;
  width: 300px;
  background-color: white;
  animation: alternate infinite 5s bgChange;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px red;
  padding-inline: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(black) padding-box,
  conic-gradient(from var(--rotate), black, red) border-box;
  border-radius: 10px;color: white;
  border: 5px rgb(256, 256, 256, 0) solid;
  animation: infinite changeThePaddingBox 10s;
}
@keyframes bgChange{
  from{
    --bgcolor: green;
    transform: translateX(-400px)  ;
  }
  to{
    --bgcolor: blue;
    transform: translateX(400px)  ;
  }
}
@property --rotate{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
@keyframes changeThePaddingBox{
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
}
img{
  height: 300px;
  width: fit-content;
  
}
.box:hover{
  color: red;
  scale: 1.1;
}