*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1762258344624-52d8c3b74c66?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
button{
  /* height: 12%;
  width: 25vh; */
  padding: 10px 20px;
  background-color: aqua;
  font-size: 5vh;
 border-radius: 10px;
  flex-direction: column;
  position: relative;
  z-index: 15px;
  position:fixed;
}
button:active{
  scale: .92;
}
button:hover{
  cursor: pointer;
}