*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  /* height: 12%;
  width: 25vh; */
  padding: 10px 20px;
  background-color: aqua;
  font-size: 5vh;
 border-radius: 10px;
  flex-direction: column;
  position: relative;
  z-index: 15px;
  position:fixed;
}
button:active{
  scale: .92;
}
button:hover{
  cursor: pointer;
}