*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
main{
  width: 100%;
  height: 150%;
  background-color: #111111;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  height: 62vh;
  width: 50vh;
  background-color:  white;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
.card img{
  height: 60%;
  width: 75%;
  border-radius: 50%;
  padding: 2vh;
  object-fit: cover;
}
.card h2{
  color: red;
  font-size: 4vh;
  padding: 1vh;
  margin-bottom: 2vh;
}
.card h3{
  font-size:3vh;
  padding: 1vh;
  white-space: nowrap;
}
.card p{
  font-size: 2vh;
  padding: 2vh;
}
