*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  height: 25%;
  width: 40%;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #9252BA;
  border-radius: 10px;
  display: flex;
  font-weight: 600;
  font-style: italic;
}
button{
  height: 10%;
  width: 20%;
  font-size: 2vh;
  border-radius: 5%;
  font-weight: 800;
}
h2{
  height: 8%;
  width: 20%;
  color: white;
  top: 10%;
  right: 10%;
  align-items: center;
  justify-content: center;
  /* background-color: #9252BA; */
  border-radius: 10px;
  display: flex;
  font-weight: 600;
  font-style: italic;
  position: absolute;
}
button:active{
  scale: .9;
}