.container-reset {
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url('assignment3project.jpg') ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    image-resolution: inherit;
    background-repeat: no-repeat ;
    background-position: 0; 
}
.heading{
    font-size: large;
    color: black;
    text-align:center;
    text-transform: none;
    font-family: 'new';
    padding-right: 20vh;
    font-size: xx-large;
    color: rgb(69, 102, 212);
    
}
@font-face {
    font-family: 'Simbiot';
    src: url('Simbiot.ttf');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freakdrip';
    src: url('Freakdrip.otf');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
.sem{
    font-size: larger;
    color: rgb(46, 58, 129);
    font-weight: bold;
    font-family: 'Simbiot';
    padding: 0;
    text-align: end;
    padding-right: 400px;
    margin-top: 75px;
    font-size: x-large;


}
.mid{
    font-size: larger;
    color: rgb(158, 159, 236);
    font-weight: bold;
    font-family: 'Simbiot';
    padding: 10px;
    margin-top: 180px;
    text-align:center;
    padding-right: 650px;
    font-size: medium;
}
.low{
    font-size: larger;
    color: rgb(235, 139, 50);
    font-weight:lighter;
    font-family:'Simbiot';
    margin: 150px;
    text-align: center;
    padding: 150px;
    font-size: large;
    padding-left: 1250px;
}
@font-face {
    font-family: 'new';
    src: url('new.ttf');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}